#contact-me {
  color: black;
}
.linkTxt a {
  color: black !important;
  font-size: 20px;
  display: flex;
  position: relative;
  text-decoration: none;
  list-style: none;
  float: left;
  margin-right: 40px;
  flex-direction: row;
}

li.linkTxt {
  list-style: none;
  margin: 20px;
}

.linkTxt a:hover {
  color: white !important;
  text-decoration: line-through;
}
