body {
  margin: 0;
  font-family: "Saira Semi Condensed", sans-serif;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  background-image: url(./assets/images/whiteBack.jpg);
}
